<!--<p>fom works!</p>


<div >

        <h2>What's the cost?</h2> 
        
        Quantity: <input type="number" ng-model="no_of_items">

      <p>{{no_of_items}}</p>  

        Price: <input type="number" ng-model="price">
        {{price}}
        
        <p><b>Total in dollar:</b> {{no_of_items * price}}</p>

     


        <div ng-app="" ng-init="myButton=false">
                <button ng-disabled="myButton">Watch Me!</button>
                <br /><br />
                <input type="checkbox" ng-model="myButton"/>Button
                <br /><br />
                Disabled : {{ myButton }}
              </div>
        
        </div>



        <body ng-controller="nameController">
                First name:<input ng-model="firstName" type="text"/>
                <br />
                Last name:<input ng-model="lastName" type="text"/>
                <br /><br />
                Hello {{firstName}} {{lastName}}!
              </body> -->