

<!--{{newemp | json}}-->


<div class="container">

        <div class="card">

<form (submit)="addEmp(newemp)" [formGroup]="addForm">

        <div class="card-header font-weight-bold text-center"> Enter employee details
            <!--<div class="col-md-12  font-weight-bold">Enter employee details</div>-->
            </div>

            
   <div class="card-body">

    <div class="row">
        <div class="form-group col-md-6" >
        <label for="empid">EmpId</label>
        <input type="text" name="empid" id="empid"  [(ngModel)]="newemp.id" formControlName="id" class="form-control">
    </div>
    </div>
    
    <div class="row">
            <div class="form-group col-md-6" >
            <label for="ename">EmpName</label>
            <input type="text" name="ename" id="ename"  [(ngModel)]="newemp.name" formControlName="name" class="form-control">
            </div>
        </div>
    
        <div class="row">
                <div class="form-group col-md-6" >
                <label for="desg">EmpDesignation</label>
                <input type="text" name="desg" id="desg"  [(ngModel)]="newemp.desg" formControlName="desg" class="form-control">
            </div>
        </div>
    
        <div class="row">
                <div class="form-group col-md-6" >
                    <label for="sal">EmpSalary</label>
                    <input type="text" name="sal" id="sal"  [(ngModel)]="newemp.sal" formControlName="sal" class="form-control">
                </div>
        </div>
    
                <div>
                    <button type="submit" class="btn btn-lg btn-warning">Add</button>
                </div>

            </div>
    </form>
    
    </div>
</div>