<p>login works!</p>

<div [ngStyle]= "{'color':'red'}">{{errMsg}}</div>

<div class="container">
<div class="card">

    <div class="card-header text-center font-weight-bold">Login details</div>

   
<form [formGroup]="logForm">
<div class="card-body">
    <div>
        <label for="uname">UserName</label>
        <input type="text" name="uname" id="uname" formControlName="uname"  class="form-control">
    </div>

    <div>
        <label for="mail">Email</label>
        <input type="text" name="mail" id="mail" formControlName="mail"  class="form-control">

    </div>


    <div>
        <button type="submit" class="btn btn-success" (click)=loginPage()>Login</button>
    </div>

</div>
</form>

</div>

</div>