<!--<p>parent works!</p>-->
<app-child parentProp="parentstring" [empinfo]="emplyoees" (childProps)= "retChildData($event)"></app-child>

<div class="container">

        <div class="card">

                <div class="card-header font-weight-bold text-center"> Employee details
                        <!--<div class="col-md-12 text-center font-weight-bold"> Employee details</div>-->
                    </div>

                    <div class="card-body">

<table class="table table-striped ">
        <tr>
                <th>EmployeeId</th>
                <th>EmpNamee</th>
                <th>Designation</th>
                <th>salary</th>
                <th>Buttons</th>
             </tr>

<tr *ngFor="let emp of employees">
   
    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.desg}}</td>
    <td>{{emp.sal}}</td>
    <td><a href="#" class="btn btn-success"  [routerLink]="['editemp/',emp.id]">Edit</a><button type="button" class="btn btn-danger"  (click)="delEmp(emp.id)">  Delete  </button></td>
</tr>

</table>

</div>

</div>
</div>