

<!--{{users| json}}-->
<div class="container-fluid">

        <div class="card">

                <div class="card-header text-center font-weight-bold"> User details </div>

<table class="table  table-striped">

        
                <tr>
                        <th>UserId</th>
                        <th>Name</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Street</th>
                        <th>Zipcode</th>
                        <th>Contributions</th>
                        <th>Buttons</th>
                     </tr>

    <tr *ngFor="let  user of users">
     

        <td>{{user.id  }}</td>
        <td>{{user.name | uppercase }}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.city}}</td>
        <td>{{user.address.street}}</td>
        <td>{{user.address.zipcode}}</td>



        
			<select onchange="getcoursename(value)">
                   <a routerLink="/users"> <option value="http://localhost:3000/users"></option></a>
                    <option value="http://localhost:3000/posts">Posts</option>
                    <option value="http://localhost:3000/comments">Comments</option>
                    <option value="http://localhost:3000/todos">Todos</option>
                    <option value="http://localhost:3000/albums">Albums</option>
                </select>


             

        <td><a class="btn btn-success" routerLink="/edit/{{user.id}}">Edit</a><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>

     
</table>

</div>
</div>