<p>edituser works!</p>

<div class="container">

    <div class="card">
<form (submit)="updateUser(userinfo)" [formGroup]="editForm">
        <div class="card-header font-weight-bold text-center"> Enter User details   </div>
        <div class="card-body">
<div>
    <label for="uid">userId</label>
    <input type="text" name="uid" id="uid" class="form-control" [(ngModel)]="userinfo.id" formControlName="uid" [ngClass]="{'is-invalid':this.buildForm.controls['empId'].hasError('required')}">
</div>

<div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control"  [(ngModel)]="userinfo.name" formControlName="name">
</div>

<div>
    <label for="uname">userName</label>
    <input type="text" name="uname" id="uname" class="form-control"  [(ngModel)]="userinfo.username" formControlName="uname">
</div>

<div>
    <label for="mail">E-mail</label>
    <input type="text" name="mail" id="mail" class="form-control"  [(ngModel)]="userinfo.mail" formControlName="mail">
</div>
<div>
    <label for="ucity">City</label>
    <input type="text" name="ucity" id="ucity" class="form-control"  [(ngModel)]="userinfo.ucity" formControlName="ucity">
</div>

<div>
    <label for="ustate">State</label>
    <input type="text" name="ustate" id="ustate" class="form-control" [(ngModel)]="userinfo.ustate" formControlName="ustate">
</div>



<div>
        <label for="zip">Street</label>
        <input type="text" name="street" id="street" class="form-control" [(ngModel)]="userinfo.street" formControlName="zip">
    </div>

<div>
    <label for="zip">Zipcode</label>
    <input type="text" name="zip" id="zip" class="form-control" [(ngModel)]="userinfo.zip" formControlName="zip">
</div>
<div>
    <button type="submit" class="btn btn-warning">update</button>
</div>
        </div>

</form>
</div>
</div>