<!--<form [formGroup]="regForm">
<div>

        <label for="eid">EmpId</label>
        <input type="text" name="eid" id="eid"  formControlName="empId" >
        <div *ngIf="this.regForm.controls['empId'].hasError('required')">Required</div>
        <div *ngIf="this.regForm.controls['empId'].hasError('pattern')">Enter numbers only</div>
        <div *ngIf="this.regForm.controls['empId'].hasError('minLength')">  Too small</div>
        <div *ngIf="this.regForm.controls['empId'].hasError('maxLength')">  Too large</div>
    </div>

    <div>

            <label for="ename">EmpName</label>
            <input type="text" name="ename" id="ename"  formControlName="empName" >
            <div *ngIf="this.regForm.controls['empName'].hasError('required')">Required</div>
            <div *ngIf="this.regForm.controls['empName'].hasError('pattern')">Enter alphabets only</div>
            
        </div>
</form>-->