<!--<form>

<div>

    <label for="eid">EmpId</label>
    <input type="text" name="eid" id="eid"  #num="ngModel" ngModel required pattern="^[0-9]+$">
</div>
<div *ngIf="num.errors?.required">Required</div>
<div *ngIf="num.errors?.pattern">Enter numbers only</div>

<div>
    <label for="ename">EmpName</label>
    <input type="text" name="ename" id="ename" ngModel  required  #name="ngModel" pattern="^[a-zA-Z]+$">
</div>
<div *ngIf="name.errors?.required">Required</div>
<div *ngIf="name.errors?.pattern">Enter alphabets only</div>

<div>
        <label for="desg">Designation</label>
        <input type="text" name="desg" id="desg" ngModel required>
    </div>

    <button type="submit">Click on it</button>

</form> -->