
<!--{{empinfo | json}}-->

<div class="container">

    <div class="card">

<form (submit)="updateEmp(empinfo)" [formGroup]="empForm">

        <div class="card-header font-weight-bold text-center" > Enter employee details
                <!--<div class="col-md-12  font-weight-bold">Enter employee details</div>-->
                </div>

                <div class="card-body">
               
<div >
    <label for="empid">EmployeeId</label>
    <input type="text" name="empid" id="empid"  [(ngModel)]="empinfo.id" formControlName="id" class="form-control"  >
</div>

<div>
        <label for="ename">EmployeeName</label>
        <input type="text" name="ename" id="ename"  [(ngModel)]="empinfo.name" formControlName="name" class="form-control">
    </div>

    <div>
            <label for="desg">EmployeeDesignation</label>
            <input type="text" name="desg" id="desg"  [(ngModel)]="empinfo.desg" formControlName="desg" class="form-control">
        </div>

        <div>
                <label for="sal">EmployeeSalary</label>
                <input type="text" name="sal" id="sal"  [(ngModel)]="empinfo.sal" formControlName="sal" class="form-control">
            </div>

            <div>
                <button type="submit" class="btn btn-lg btn-warning  ">Update</button>
            </div>

        </div>
</form>
</div>
</div>