<p>services works!</p>


<nav class="navbar navbar-inverse sidebarNavigation ">
<!--<div class="container">-->

  <div class=" wrapper">
     <div class=" nav navbar-nav" >
     <li class="nav-item"><a class= "nav-link" href="#" id="co" (click)="consData()" >Consulting</a></li>
   <li class="nav-item"> <a  class= "nav-link"  href="#"><i class="fas fa-comments-dollar"></i>Marketing</a></li>
   <li class="nav-item "> <a class= "nav-link"  href="#">Recruting</a></li>
   <li class="nav-item "> <a class= "nav-link"  href="#">Services</a></li>
     </div>

</div>











  

    
    
  
  

    
    
   