<!--<p>tdform works!</p>

<form>

    <div>
        <label for="ename">EmpName</label>
        <input type="text" name="ename" id="ename" ngModel #empname="ngModel" required pattern="^[a-zA-z]+$">
    </div>

    <div>{{empname.errors | json}}</div> 
     <div *ngIf="empname.errors?required">Required</div> 

    <div>
        <label for="edesg">Designation</label>
        <input type="text" name="edesg" id="edesg" ngModel required>
    </div>


    <button type="submit">Register</button>
</form> -->
