<p>profile works!</p>


<h3>id is {{eid}}  and name is {{ename}}</h3>

<div class="form-group row">
<img src="assets/picss/busn.jpg"  class="rounded-circle"    >
<button type="button"  class="btn btn-info dropdown-toggle" >More</button>
</div>

<div class="form-group row">
    <img src="assets/picss/Team.jpg"  class="rounded-circle" >
    <button type="button"  id= "btn" class="btn btn-info" class="btn btn-info dropdown-toggle"  (onclick)="expand()">More</button>
    </div>