<!--<p>tdf works!</p>

<div class="container-fluid">

<h1>Bootstrap Enrollment form</h1>

<form #userForm="ngForm"> 

    {{userForm.value | json}}

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="userName" ngMdel>

    </div>



    <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" ngModel>
    
        </div>


        <div class="form-group">

            <select>
              
              
         <option selected>Iam intrested in</option>
         <option *ngFor="let topic of topics">{{topic}}</option>
            </select>        
            </div>


            <div class="mb-3">
                <label>Time preference</label>
                <div class="form-check">

                    <input class="form-check-input">
                </div>

    

            </div>

 

            <div ng-app="">
                    <p>Type anything into the input box:</p>
                    <p>Name: <input type="text" ng-model="name"></p>
                    <p ng-bind="name"></p>
                  </div>


</form>


</div> -->