<!--<p>fcfgform works!</p>

<form  [formGroup]="regForm">

    <div>
        <label for="ename">EmpName</label>
        <input type="text" name="ename" id="ename" formControlName="empName"[ngClass]="{'is-invalid':this.regForm.controls['empName'].hasError('required')|| this.regForm.controls['empName'].hasError('pattern'), 'is-valid':this.regForm.controls['empName'].hasError('required')}" class="form-control" >
    </div>
    <div>{{this.regForm.empId}}</div>
    <div *ngIf="this.regForm.controls['empName'].hasError(required)">Required</div>

   


    <button type="submit">Register</button>
</form> -->