<!--<p>fbform works!</p>

<form [formGroup]="buildForm">
<div>
    <label for="eid">EmpId</label>
    <input type="text" name="eid" id="eid" formControlName="empId"[ngClass]="{'is-invalid':this.buildForm.controls['empId'].hasError('required')}">



 </div>

</form> -->